@import play.api.data.Form
@import play.api.i18n.Messages
@import play.api.mvc.RequestHeader
@import org.webjars.play.WebJarsUtil
@import controllers.AssetsFinder
@import b4.inline.fieldConstructor

@this()(implicit webJarsUtil: WebJarsUtil, assets: AssetsFinder)
@(user: models.User)(implicit request: RequestHeader, messages: Messages)

@implicitFieldConstructor = @{ b4.vertical.fieldConstructor() }

@main(messages("download.title"), Some(user)) {

<fieldset>
    @helper.form(action = controllers.routes.DownloadController.download, Symbol("autocomplete") -> "off", Symbol("id")
    -> "downloadForm") {
    @helper.CSRF.formField
    <header class="major">

        <h1>
                <button id="download" type="submit" value="download"
                        onclick="location.href='@controllers.routes.DownloadController.download';">Download
                </button>
        </h1>

    </header>
    }
</fieldset>

}

